/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  body {
    font-family: 'Arial', sans-serif;
  }
  
  // Importiamo gli stili di Swiper
  @import '~swiper/swiper-bundle.css';
  
  // Style per la paginazione di Swiper
  .swiper-pagination {
    position: fixed;
    bottom: 20px;
    
    .swiper-pagination-bullet {
      background: white;
      opacity: 0.5;
      
      &-active {
        opacity: 1;
      }
    }
  }